<!DOCTYPE html>
<html class="page" lang="ua">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrionist</title>
    <link rel="shortcut icon" href="./images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="tailwind.css">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>
    <script type="module" src="app.js" defer></script>
  </head>
  <body class="page__body" x-data="{mouseX: 0,mouseY: 0,isShowSlideMenu: false,isTablet: false,isPhone: false,}" @mousemove="mouseX = $event.clientX; mouseY = $event.clientY;" x-init="setTimeout(() =&gt; {isTablet = (window.innerWidth &lt; 992);isPhone = (window.innerWidth &lt; 576);}, 0)" @resize.debounce.window="setTimeout(() =&gt; {isTablet = (window.innerWidth &lt; 992);isPhone = (window.innerWidth &lt; 576);}, 0)">
    <div class="page__wrapper">
      <template x-if="isShowSlideMenu">
        <div class="slide-menu" x-data="{ currentAnchor: '', isClosed: true }" x-init="setTimeout(() =&gt; {isClosed=false}, 1)" @scroll.debounce.window="currentAnchor = window.location.hash" :class="{'slide-menu--closed': isClosed}">
          <div class="slide-menu__menu">
            <div class="slide-menu__menu__header">
              <div class="logo" style="width: 182px;"><a href="main.html"><img src="./images/icons/logo.svg" alt="logo"/></a></div>
              <button class="contacts-menu__button contacts-menu__button--close" type="button" @click="isClosed=true" x-on:click="setTimeout(() =&gt; {isShowSlideMenu = false}, 500)">
                <div class="contacts-menu__button__image"></div>
              </button>
            </div>
            <hr class="_anim-items _transition-clip-form-left" style="margin-bottom: 25px;"/><a class="link" href="all_courses.html" style="margin-bottom: 25px;">
              <div class="link__text">Навчання</div>
              <div class="link__image">
                <div class="icon"><svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.4497 12.0503L12.5503 21.9498M22.4497 12.0503V20.5355M22.4497 12.0503H13.9645" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                </div>
              </div></a>
            <ul style="display: grid; grid-template-columns: repeat(2,1fr); margin-bottom: 15px; gap: 10px;">
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#about_me'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#about_me" @click="() =&gt; {currentAnchor = '#about_me'; isClosed=true;}" x-on:click="setTimeout(() =&gt; {isShowSlideMenu = false}, 500)">Про мене</a></li>
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#services'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#services" @click="() =&gt; {currentAnchor = '#services'; isClosed=true;}" x-on:click="setTimeout(() =&gt; {isShowSlideMenu = false}, 500)">Послуги</a></li>
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === 'all_news.html'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="all_news.html" @click="() =&gt; {currentAnchor = 'all_news.html'; isClosed=true;}" x-on:click="setTimeout(() =&gt; {isShowSlideMenu = false}, 500)">Журнал</a></li>
              <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#contants'}" style="width: max-content;"><a class="navigation__link" style="line-height: 100%; padding-bottom: 15px;" href="#contants" @click="() =&gt; {currentAnchor = '#contants'; isClosed=true;}" x-on:click="setTimeout(() =&gt; {isShowSlideMenu = false}, 500)">Контакти</a></li>
            </ul>
            <p style="margin-bottom: 25px;">Поглиблені персональнi консультації з нутриціології, якi допоможуть вам досягти витриманого здоров'я та життєвої енергії</p><a class="button button--only-text" href="https://t.me/svitlanaolijnyk" style="margin-bottom: 40px;">
              <p class="button__text">Зв'язатися зі мною</p></a>
            <h3 style="margin-bottom: 25px; font-size: 18px;">Давайте дружити</h3>
            <div class="social-list _flex" style="margin-bottom: 20px;"><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-facebook.svg" alt="facebook"/></a><a class="social-link" href="https://www.instagram.com/svitlana.olijnyk/" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-instagram.svg" alt="instagram"/></a><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-youtube.svg" alt="youtube"/></a><a class="social-link" href="https://t.me/svitlanaolijnyk" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-telegram.svg" alt="telegram"/></a>
            </div>
            <hr class="_anim-items _transition-clip-form-left" style="margin-bottom: 25px;"/>
            <div>Розробка сайту: <a href="#" style="text-decoration: underline; font-weight: 500;">kruglov.design</a></div>
          </div>
        </div>
      </template>
      <header class="page__header">
        <div class="header">
          <div class="header__logo">
            <div class="logo"><a href="main.html"><img src="./images/icons/logo.svg" alt="logo"/></a></div>
          </div>
          <div class="header__container">
            <div class="header__navigation">
              <nav class="navigation" x-data="{ currentAnchor: '' }" @scroll.debounce.window="currentAnchor = window.location.hash">
                <ul class="navigation__list">
                  <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#about_me'}"><a class="navigation__link" href="#about_me" @click="currentAnchor = '#about_me'">Про мене</a></li>
                  <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#services'}"><a class="navigation__link" href="#services" @click="currentAnchor = '#services'">Послуги</a></li>
                  <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === 'all_news.html'}"><a class="navigation__link" href="all_news.html" @click="currentAnchor = 'all_news.html'">Журнал</a></li>
                  <li class="navigation__item" :class="{'navigation__item--active': currentAnchor === '#contants'}"><a class="navigation__link" href="#contants" @click="currentAnchor = '#contants'">Контакти</a></li>
                </ul>
              </nav>
            </div>
            <div class="header__link"><a class="link" href="all_courses.html">
                <div class="link__text">Навчання</div>
                <div class="link__image">
                  <div class="icon"><svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.4497 12.0503L12.5503 21.9498M22.4497 12.0503V20.5355M22.4497 12.0503H13.9645" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                  </div>
                </div></a>
            </div>
          </div>
          <div class="header__button"><a class="button button--only-text" href="https://t.me/svitlanaolijnyk">
              <p class="button__text">Зв'язатися зі мною</p></a>
          </div>
          <div class="header__slide-menu">
            <div class="button-menu"><img src="./images/icons/menu.svg" alt="menu" @click="isShowSlideMenu=true"/></div>
          </div>
        </div>
      </header>
      <main class="page__main">
      </main>
      <div class="page__menu">
        <div class="contacts-menu" x-data="{ hidden: true }" @click.outside="hidden = true">
          <div class="contacts-menu__container" x-cloak="x-cloak" :class="{'contacts-menu__container--hidden': hidden}">
            <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="https://www.instagram.com/svitlana.olijnyk/"><img src="./images/icons/social-instagram.svg" alt="instagram-logo"/></a></div>
            <div class="contacts-menu__item"> <a class="button-icon" href="mailto:svitlanaoliinyk.nutritionist@ukr.net"><img src="./images/icons/social-sms.svg" alt="sms-logo"/></a></div>
            <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="#"><img src="./images/icons/social-messager.svg" alt="messager-logo"/></a></div>
            <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="https://wa.me/380676076007"><img src="./images/icons/social-whatsApp.svg" alt="whatsApp-logo"/></a></div>
            <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="viber://contact?number=380676076007"><img src="./images/icons/social-viber.svg" alt="viber-logo"/></a></div>
            <div class="contacts-menu__item"> <a class="button-icon" target="_blank" href="https://t.me/svitlanaolijnyk"><img src="./images/icons/social-telegram.svg" alt="telegram-logo"/></a></div>
          </div>
          <button class="contacts-menu__button" type="button" @click="hidden = !hidden" :class="{'contacts-menu__button--close': !hidden}">
            <div class="contacts-menu__button__image"></div>
          </button>
        </div>
      </div>
      <footer class="page__footer">
        <div class="footer">
          <h3 class="text-center" style="margin-bottom: 25px;">Давайте дружити</h3>
          <div class="social-list _flex" style="margin-bottom: 50px;"><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-facebook.svg" alt="facebook"/></a><a class="social-link" href="https://www.instagram.com/svitlana.olijnyk/" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-instagram.svg" alt="instagram"/></a><a class="social-link" href="#" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-youtube.svg" alt="youtube"/></a><a class="social-link" href="https://t.me/svitlanaolijnyk" target="_blank" rel="noopener noreferrer"><img src="./images/icons/light__social-telegram.svg" alt="telegram"/></a>
          </div>
          <hr class="_anim-items _transition-clip-form-left" style="margin-bottom: 50px;"/>
          <div class="footer__texts">
            <p class="footer__texts__1 _grid-col--desk-1-1 _grid-col--phone-1-2 _place-desk-↖ ">Усі права захищені ©, 2024, Світлана Олійний, Нутриціолог</p>
            <p class="footer__texts__2 _grid-col--desk-2-2 _grid-col--phone-1-1 _place-desk-↑ _place-phone-↖"><a class="tolink" href="policy.html">Політика конфіденційності</a></p>
            <p class="footer__texts__3 _grid-col--desk-3-3 _grid-col--phone-2-3 _place-desk-↗ _place-phone-↖">Розробка сайту:<br><b>Борис Круглов</b></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>